[defaults]
inventory          = inventory/generated
roles_path         = roles
collections_path   = ./collections:~/.ansible/collections
forks              = 25
interpreter_python = auto_silent
retry_files_enabled = False
timeout            = 60

[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini
